doctype html
html(style="font-size:100px")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/theme.css')
  body
    block content
